<form action="/searches" method="POST">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<label for="q">
<input name="q">
<input type="submit" value="Search">
</form>